<style type="text/css">
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

div.tooltip {
  position: absolute;
  /*width: 250px;*/
  /*height: 150px;*/
  font: 13px Arial;
  background: rgba(228,240,254,0.95);
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  color: #222;
  padding: 10px;
  line-height: 1.5em;
  }
div.tooltip h3{
  margin: 0;
  text-align: center;
}
div.tooltip span{
  color: #777;
}

</style>
