<div class="col-md-2"></div>
<div class="col-md-7">
  <center><h2>Welcome to Collap</h2><br/>
  <span class="c-logo-head">Collaborate, Grow and help Society</span></center><br/>
  
  <form class = "edit-login-form" type="POST">
    <div class="input-group">
      <span class="input-group-addon">Username</span>
     	<input name="username" autofocus="" placeholder="Email or username"  autocapitalize="off" type="text" class="form-control">
    </div><br/>
  	<div class="input-group">
      <span class="input-group-addon">Password</span>
  			<input name="password" id="login__password" class="form-control" placeholder="password" autocomplete="off" type="password">
        <input name="project" type="hidden" value="Mobac">
  	</div><br/>
 		<button  class="btn btn-success" id="login" type="submit">Log In</button>
  </form>
</div>